*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f8f9fa;
    color:#222;
}

header{
    background:#0b6b3a;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#084d2a;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:#e9f8ef;
}

.hero h1{
    font-size:42px;
    color:#0b6b3a;
}

.hero p{
    margin-top:15px;
    font-size:18px;
}

.btn{
    display:inline-block;
    margin-top:25px;
    background:#0b6b3a;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    text-decoration:none;
}

footer{
    background:#0b6b3a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}
.hero{
    background: linear-gradient(rgba(11,107,58,0.8), rgba(11,107,58,0.8)),
    url("https://images.unsplash.com/photo-1519817650390-64a93db51149?w=1600");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.hero h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p{
    font-size: 20px;
    margin-bottom: 25px;
}

.btn{
    background: gold;
    color: black;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
}

.btn:hover{
    background: white;
}
